body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #140303;
	background: radial-gradient(circle, rgba(20, 3, 3, 1) 0%, rgba(0, 42, 89, 1) 100%);
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header ,.kontent {
	place-items: center;
    text-align: center;
}
h1{
	margin: 15px;
	font-weight: bolder;
	font-size: 70px;
	text-align: center;
	font-collor: #48CF94;
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    place-items: center;	
}
dl{
	margin-left: 1vmax;
}
li {
    background-color: #222;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    width: 250px;
    padding: 25px;
    margin: 20px;
	text-align: center;
}

th{
	font-weight: bolder;
	font-size: large;
}
table, tr{
	border: 3px solid black ;
	text-align: center;
	
}
.tr1{
	background-color:#6249C3;
}
.tr2{
	background-color:#2BF37F;
}
td,th{
	padding: 15px;
}
td{
	font-weight: bold;
}
p {
    font-size: x-large;
    text-align: center;
    margin: 25px;
	font-weight: bold;
}

a {
    color: #6249C3;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    color: #2BF37F;
}






